body {
    font-family: 'Nunito',sans-serif;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

nav {
    font-family: 'Mukta',sans-serif;
    font-size: 18px;
    background: white;
}

nav .active {
    text-decoration: underline;
    color: #0B9444;
}

#brandLogo {
    margin: 0px auto 0px auto;
}

/* ----------- success page --------------*/
#success-jumbotron {
    background: url('https://www.tokkoro.com/picsup/2955165-ultra-wide-depth-of-field-nature___landscape-nature-wallpapers.jpg');
    background-size: cover;
    background-repeat: none;
    background-position-y: 60%;
    color: white;
}