{{#partial "navlinks"}}
    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#">View Animals</a></li>
    <li class="nav-item"><a class="nav-link" href="#">All Sightings</a></li>
    <li class="nav-item"><a class="nav-link" href="#">New Sightings</a></li>
{{/partial}}

{{#partial "content"}}
    <h1 class="text-center">SLEEP!</h1>
{{/partial}}

{{> layout.hbs}}