{{#partial "navlinks"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Animals
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/animals/endangered">Endangered</a>
            <a class="dropdown-item" href="/animals/not-endangered">Not Endangered</a>
        </div>
    </li>
    <li class="nav-item active"><a class="nav-link" href="/rangers">Our Rangers</a></li>
    <li class="nav-item"><a class="nav-link" href="/sightings">Sighting Locations</a></li>
    <li class="nav-item"><a class="nav-link" href="/sighting/new">New Sighting</a></li>
{{/partial}}

{{#partial "preContent"}}
    <div class="jumbotron jumbotrion-fluid ranger-jumbotron">
        <div class="container">
            <h1 class="display-3">Sacred Jungle!</h1>
            <p class="lead">The animal conservancy</p>
        </div>
    </div>
{{/partial}}

{{#partial "content"}}
    <h4>Ranger {{ranger.name}}</h4>
    <p>Below are the contributions of our very able ranger</p>
    <table class="table text-center">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Animal Seen</th>
            <th scope="col">Location</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
        {{#each sightings}}
            <tr>
                <td>{{animalName}}</td>
                <td>{{location}}</td>
                <td>{{readableTimestamp}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

{{/partial}}

{{> layout.hbs}}