{{#partial "navlinks"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Animals
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Endangered</a>
            <a class="dropdown-item" href="#">Not Endangered</a>
        </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="/rangers">Our Rangers</a></li>
    <li class="nav-item active"><a class="nav-link" href="/sightings">Sighting Locations</a></li>
    <li class="nav-item"><a class="nav-link" href="/sighting/new">New Sighting</a></li>
{{/partial}}

{{#partial "content"}}
    <h3 class="text-center">Sacred Jungle!</h3>
    <h6 class="text-center">The animal conservancy</h6>
    <hr>
    {{#if sightings}}
        <h2 class="text-center">All Locations</h2>
        <ul class="list-group">
        {{#each sightings}}
            <li class="list-group-item"><a href="/sightings/{{location}}/details">{{location}}</a></li>
        {{/each}}
        </ul>
    {{else}}
        <h5 class="text-center">No locations have been added. Report a sighting to add a new location</h5>
    {{/if}}

{{/partial}}

{{> layout.hbs}}