{{#partial "navlinks"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Animals
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/animals/endangered">Endangered</a>
            <a class="dropdown-item" href="/animals/not-endangered">Not Endangered</a>
        </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="/rangers">Our Rangers</a></li>
    <li class="nav-item"><a class="nav-link" href="/sightings">Sighting Locations</a></li>
    <li class="nav-item"><a class="nav-link" href="/sighting/new">New Sighting</a></li>
{{/partial}}

{{#partial "preContent"}}
    <div id="success-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Success :)</h1>
            <p class="lead">You may proceed to any page by you want</p>
        </div>
    </div>
{{/partial}}

{{#partial "content"}}
    <h5 class="text-center">Information saved!</h5>
{{/partial}}

{{> layout.hbs}}