{{#partial "navlinks"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#">View Animals</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Sighting Locations</a></li>
    <li class="nav-item"><a class="nav-link" href="/sighting/new">New Sighting</a></li>
{{/partial}}

{{#partial "preContent"}}
    <div id="success-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Success :)</h1>
            <p class="lead">You may proceed to any page by you want</p>
        </div>
    </div>
{{/partial}}

{{#partial "content"}}
    <h5 class="text-center">Information saved!</h5>
{{/partial}}

{{> layout.hbs}}